*
{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
}

body {
    font: x-small Verdana, Arial;
    text-align: center;
    font-size: small;
    background: #0e152e;
    background-image:url("http://kornegay.net/images/SP.png");
    background-repeat:repeat;
}

.clear
{
    clear: both;
}

a:link {
    color: #003366;
}
a:visited {
    color: #003366;
}
a img {
    border-width: 0;
}

p {
    margin-top:0.5em;
    margin-bottom:0.5em;
}

#outer-wrapper {
    font: normal normal 102% Arial, sans-serif;
    width: 960px;
    margin: 0 auto;
    text-align: left;
    background-color: #f5f4f0;
    padding: 1px;
}
#navbar-wrapper {
    padding: 7px;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-bottom-color: #C1CDCD;
    font-weight: bold;
    text-align: center;
}
#main-wrapper {
    margin-top: 10px;
    margin-left: 10px;
    width: 530px;
    float: left;
    display: inline;       /* fix for doubling margin in IE */
    word-wrap: break-word; /* fix for long text breaking sidebar float in IE */
    overflow: hidden;      /* fix for long non-text content breaking IE sidebar float */
}
#sidebar-wrapper {
    width: 410px;
    float: right;
    display: inline;       /* fix for doubling margin in IE */
    word-wrap: break-word; /* fix for long text breaking sidebar float in IE */
    overflow: hidden;      /* fix for long non-text content breaking IE sidebar float */
}
.sidebar {
    padding-top: 5px;
    margin-bottom: 5px;
    border-style: solid;
    border-width: medium;
    border-color: #C1CDCD;
    border-top-style: none;
    background-color: #E0EEEE;
}
.sidebar>p {
    margin-left: 0.5em;
}
.sidebar>p:first-child {
    margin-top: 0;
}
