{% extends "base.html" %}

{% block extra_head %}

<link rel='stylesheet' type='text/css' href='static/fullcalendar/fullcalendar.css' />
<link rel='stylesheet' type='text/css' href='static/fullcalendar/fullcalendar.print.css' media='print' />
<script type='text/javascript' src='static/jquery/jquery-1.5.2.min.js'></script>
<script type='text/javascript' src='static/fullcalendar/fullcalendar.min.js'></script>

<script type='text/javascript'>
    $(document).ready(function() {
        $('#calendar').fullCalendar({
            events: '/events/list',
//            events: 'https://www.google.com/calendar/feeds/9q9mefha3339fb7g0nisc369i8%40group.calendar.google.com/public/basic',
            loading: function(bool) {
                if (bool) $('#loading').show();
                else $('#loading').hide();
            },
        });
    });
</script>

{% endblock extra_head %}
{% block body %}
    
    <div id='main-wrapper'><div class='main'>
        {% for event in events %}
            {% include "publicity/event.html" %}
        {% endfor %}
    </div></div><!--main-wrapper-->

    <div id='sidebar-wrapper'>
        <div class='sidebar'>
            <p>Welcome to the official website of the International Socialist Organization in New York City.</p>
            <p>Click <a href="nonsense">here</a> to join a branch mailing list.</p>
            <p>To learn more about socialism and our politics, read "<a href="http://socialistworker.org/where-we-stand">Where We Stand</a>."</p>
            <p>For more info, get in touch with one of <a href="nonsense">our branches</a>, call us at (646) 452-8662, or write to nyciso@gmail.com.</p>
        </div>
        
        <div class='clear'>&nbsp;</div>
        
        <div> 
            <h3>Event Calendar</h3>
            <div id="calendar"></div>
            <div id="loading">Loading...</div>
        </div>
    </div><!--sidebar-wrapper-->

{% endblock body %}
